.profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.profilePanel {
    display: inline-flex;
    flex-flow: column;
    height: 90vh;;
    background: #00b473;
}

.profilePanel a {
    text-decoration: none;
    font: normal bold 1.5vw sans-serif;
    color: #000;
    margin: 10% 10%;
}

.changeForm {
    align-self: baseline;
    margin-left: 10%;
    width: 40vw;
}

.changeForm form {
    margin-top: 10%;
}

.submitButton {
    font-size: 1.5vw;
    text-align: right;
    margin: auto auto;
}

.submitButton button {
    border-radius: 10px;
    border: 1 solid;
    border-color: #ee3a43;
    background-color: #00b473 ;
    margin-top: 4%;
    font: normal bold 2vw sans-serif;
    width: 19vw;
}

.newDataInput {
    display: flex;
    justify-content: right;
    text-align: center;
    width: 100%;
    font: normal bold 1.5vw sans-serif;
    margin: auto auto;
}

.newDataInput input {
    align-self: center;
    width: 20vw;
    height: 1.5vh;
    margin-left: 2%;
}

.statusMessage {
    text-align: right;
    font: normal bold 1.5vw sans-serif;
    margin-top: 5%;
}

.changingStatus {
    font: normal bold 1.5vw sans-serif;
    margin: auto auto;
}
