.signinForm {
    display: flex;
    font: normal bold 2vw sans-serif;
    border: 5px solid #24968f;
    color: #1a1a1a;
    background-color: #24968f;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    width: 70vw;
    height: 50vh;
    border-radius: 15px;
}

.signinForm form {
    height: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.inputFields {
    height: auto;
    margin-bottom: 10%;
    text-align: center;
}

.inputFields input {
    border: none;
    border-radius: 5px;
    margin-top: 5%;
    width: 20vw;
    height: 3vh;
    display: block;
}

.submitButton{
    width: auto;
    text-align: center;
    margin-top: 8%;
}

.submitButton button {
    font-size: 1.5vw;
    border: 5px solid #cccfce;
    border-radius: 10px;
}

.submitButton button:hover {
    opacity: .8;
}

.statusCode {
    text-align: center;
    margin-top: 1vh;
}

.statusCode span {
    color: #1a1a1a;
}
